.username{
			color:blue;
			font-weight:bold;
			font-size:15px;
			font-family:Verdana, Geneva, sans-serif;
		}
			
.message{
			color:black;
			font-size:15px;
			font-family:"Times New Roman", Times, serif;
		}
			
.button{
			text-align:center;
			background-color:#00F;
			border-width:2px;
			border-style:solid;
			border-color:#000;
			color:#FFF;
			padding-left:10px;
			padding-right:10px;
			text-declaration:none;
		}
